* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f7f7f9;
  width: 375px;
}

header {
  width: 375px;
  height: 44px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  margin: 24px;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
}

.header-title {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #6070ff;
  text-decoration: none;
}

.bars {
  color: #6070ff;
  margin-right: 36px;
}

.main-page {
  background-image: url(./img/header-shapes.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 595px;
}

.main-title {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  margin-left: 24px;
  padding-top: 104px;
  width: 310px;
  color: #172b4d;
}

.main-paragraph {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-left: 24px;
  padding-top: 12px;
  width: 327px;
  color: #344563;
}

.supporting-text {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  padding-top: 12px;
  margin-left: 24px;
  color: #7f8cff;
}

.icon-bar {
  display: flex;
  flex-direction: row;
  padding-top: 12px;
  margin-left: 24px;
  gap: 19px;
  width: 170px;
  height: 25px;
  align-items: center;
  text-decoration: none;
}

.icon-tag {
  text-decoration: none;
  list-style: none;
}
